---
import Header from '../components/Header.astro';
---
<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Pizzeria Da Mario</title>
        </head>
	<body class="bg-gray-50 m-0 p-0 font-sans">
		<Header lang="it" />
		<slot /> </body>
</html>
